---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Ableton">
	<Header />
	<div class="w-full bg-white px-8 py-6">
		<nav>
			<ul class="flex [&>li>a]:text-sm [&>li>a]:px-3 [&>li>a]:font-semibold">
				<li><a href="#" class="text-[#ff764d]">About</a></li>
				<li><a href="#">Jobs</a></li>
				<li><a href="#">Apprenticeships</a></li>
			</ul>
		</nav>
	</div>
	<main class="w-screen h-[79vh] overflow-y-hidden">
		<section class="w-full h-full">
			<div class="w-full flex px-28 h-full">
				<div class="w-full bg-[url('header.avif')] bg-cover h-full text-center py-56">
					<h1 class="text-[#ff764d] font-semibold text-9xl">Ableton</h1>
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	
</style>
