---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import { Icon } from 'astro-icon'
---

<Layout title="Ableton">
	<Header />
	<div class="w-full bg-white px-8 py-6">
		<nav>
			<ul class="flex [&>li>a]:text-sm [&>li>a]:px-3 [&>li>a]:font-semibold">
				<li><a href="#" class="text-[#ff764d]">About</a></li>
				<li><a href="#">Jobs</a></li>
				<li><a href="#">Apprenticeships</a></li>
			</ul>
		</nav>
	</div>
	<main class="w-screen h-[79vh]">
		<section class="w-full h-full">
			<div class="w-full flex px-28 h-full">
				<div class="w-full bg-[url('header.avif')] bg-cover h-full text-center py-56">
					<h1 class="text-[#ff764d] font-semibold text-9xl">Ableton</h1>
				</div>
			</div>
		</section>
		<section class="w-full bg-white">
			<div class="w-full px-[19.5rem] py-24">
				<div class="flex flex-col gap-y-7">
					<h1 class=" font-medium text-3xl tracking-tight leading-normal">We make <span class="text-[#0000ff]">Live</span>, <span class="text-[#0000ff]">Push</span> and <span class="text-[#0000ff]">Link</span> — unique software and hardware for music creation and performance. With these products, our community of users creates amazing things.</h1>
					<p class=" text-xl font-normal leading-relaxed">Ableton was founded in 1999 and released the first version of Live in 2001. Our products are used by a community of dedicated musicians, sound designers, and artists from across the world.</p>
				</div>
			</div>
		</section>
		<section class="w-full bg-white flex h-[119vh]">
			<div class=" w-[70%] pt-28">
				<div class="bg-[url(https://ableton-production.imgix.net/about/photo-1.jpg?fit=crop&h=569&ixjsv=1.1.3&w=569)] w-full h-[41.6667vw] relative ml-32" />
			</div>
			<div class=" w-full bg-[#fbffa7] items-center flex justify-center">
				<div class="w-[33.3333vw] h-[25vw] bg-[url('https://ableton-production.imgix.net/about/photo-2.jpg?fit=crop&h=342&ixjsv=1.1.3&w=455')]" />
			</div>
		</section>
		<section class="w-full bg-white">
			<div class="w-full px-[19.5rem] py-24">
				<div class="flex flex-col gap-y-7">
					<h1 class=" font-medium text-3xl tracking-tight leading-normal">Making music isn’t easy. It takes time, effort, and learning. But when you’re in the flow, it’s incredibly rewarding.</h1>
					<p class=" text-xl font-normal leading-relaxed">We feel the same way about making Ableton products. The driving force behind Ableton is our passion for what we make, and the people we make it for.</p>
				</div>
			</div>
		</section>
		<section class="w-full bg-white">
			<div class="pb-24 flex flex-col gap-y-2">
				<div class="w-full flex justify-center">
					<a href="#">
						<div class="bg-[url('poster-juanpe.avif')] w-[100vh] h-96 flex justify-center items-center">
							<button class="bg-[#0000ff] rounded-full w-24 h-24 p-4">
									<Icon name="mdi:play" class="text-white" />
							</button>
						</div>
					</a>
				</div>
				<div class="w-full px-[22.5rem]">
					<p class="font-semibold text-xs">Why Ableton - Juanpe Bolivar</p>
				</div>
			</div>
		</section>
		<section class="w-full bg-white">
			<div class="w-full px-[19.5rem] pb-24">
				<div class="flex flex-col gap-y-7">
					<h1 class=" font-medium text-3xl tracking-tight leading-normal">We are more than 350 people from 30 different countries divided between our headquarters in Berlin and our offices in Los Angeles and Tokyo.</h1>
					<p class=" text-xl font-normal leading-relaxed">Most of us are active musicians, producers, and DJs, and many of us use Live and Push every day. We come from a wide range of cultural and professional backgrounds. Some of us have PhDs, some are self-taught, and most of us are somewhere in between. What connects us is the shared belief that each of us has the skills and knowledge to contribute to something big: helping to shape the future of music culture.</p>
				</div>
			</div>
		</section>
		<section class="w-full bg-white flex">
			<div class=" w-full bg-[#b6ffc0] items-center flex flex-col justify-center gap-y-36 py-24">
				<div class="w-[33.3333vw] h-[25vw] bg-[url('https://ableton-production.imgix.net/about/photo-3.jpg?fit=crop&h=342&ixjsv=1.1.3&w=455')]" />
				<div class="w-[33.3333vw] h-[25vw] bg-[url('https://ableton-production.imgix.net/about/photo-4.jpg?fit=crop&h=342&ixjsv=1.1.3&w=455')]" />
			</div>
			<div class=" w-[70%] pt-60">
				<div class="bg-[url(https://ableton-production.imgix.net/about/photo-5.jpg?fit=crop&h=569&ixjsv=1.1.3&w=569)] w-full h-[41.6667vw] relative -ml-24" />
			</div>
		</section>
		<section class="w-full bg-white">
			<div class="w-full px-[19.5rem] py-24">
				<div class="flex flex-col gap-y-7">
					<h1 class=" font-medium text-3xl tracking-tight leading-normal">We believe it takes focus to create truly outstanding instruments. We only work on a few products and we strive to make them great.</h1>
					<p class=" text-xl font-normal leading-relaxed">Rather than having a one-size-fits-all process, we try to give our people what they need to work their magic and grow. We’ve learned that achieving the best results comes from building teams that are richly diverse, and thus able to explore problems from a wider set of perspectives. We don’t always agree with each other, but opinion and debate are valued and openly encouraged.</p>
				</div>
			</div>
		</section>
		<section class="w-full h-[90vh] bg-white">
			<div class="w-full flex px-28 h-full">
				<div class="w-full bg-[url('https://ableton-production.imgix.net/about/poster-meet-the-makers.jpg?auto=format&fit=crop&fm=jpg&ixjsv=1.1.3&w=1138')] bg-cover h-full text-center">
				</div>
			</div>
		</section>
		<section class="w-full bg-white">
			<div class="w-full px-[19.5rem] py-24">
				<div class="flex flex-col gap-y-7">
					<h1 class=" font-medium text-3xl tracking-tight leading-normal">We’re passionate about what we do, but we’re equally passionate about improving who we are.</h1>
					<p class=" text-xl font-normal leading-relaxed">We work hard to foster an environment where people can grow both personally and professionally, and we strive to create a wealth of opportunities to learn from and with each other.</p>
					<p class=" text-xl font-normal leading-relaxed">Alongside an internal training program, employees are actively supported in acquiring new knowledge and skills, and coached on applying these in their daily work. In addition, staff-organized development and music salons are a chance to discuss new technologies, production techniques and best practices.</p>
				</div>
			</div>
		</section>
		<section class="pb-20 w-full bg-white flex">
			<div class="bg-white w-[20%]">
				<div class="w-[33.33vw] h-[25vw] bg-[url(https://ableton-production.imgix.net/about/photo-6-a.jpg?fit=crop&h=342&ixjsv=1.1.3&w=455)] ml-36 mt-52 relative z-40">
				</div>
			</div>
			<div class="bg-[#d5b3ff] w-[60%] relative z-30">
				
			</div>
			<div class="bg-white w-[20%] pb-24">
				<div class="w-[41.66vw] h-[41.66vw] bg-[url(https://ableton-production.imgix.net/about/photo-7.jpg?fit=crop&h=569&ixjsv=1.1.3&w=569)] mt-24 -ml-64 relative z-40">
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	
</style>
