---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Ableton">
	<Header />
	<div class="w-full bg-white px-8 py-6">
		<nav>
			<ul class="flex [&>li>a]:text-sm [&>li>a]:px-3 [&>li>a]:font-semibold">
				<li><a href="#" class="text-[#ff764d]">About</a></li>
				<li><a href="#">Jobs</a></li>
				<li><a href="#">Apprenticeships</a></li>
			</ul>
		</nav>
	</div>
	<main>
		
	</main>
</Layout>

<style>
	
</style>
